# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Generated data (we can recreate these)
data/raw/*.graphml
data/raw/*.tif